#!/usr/bin/make -f
#
# Kernel Build Script
#
# Use this however you want, just give credit where credit is due.
#
# Copyright (c) 2013 Kevin Abiera <kevin@abiera.com>
#

export ARCH=arm
export SUBARCH=arm
export BUILDTOOL_PATH=android
export BUILDTOOL_FILE=rules
export BUILD_CFG=$(shell cat $(BUILDTOOL_PATH)/config/last)
export PKGTEMP_PATH=/run/shm/pkg
export TOOLCHAIN=$(shell cat $(BUILDTOOL_PATH)/config/toolchain)
export OUTPUTZIPNAME=kernel
export SIGN_PEM=$(shell cat $(BUILDTOOL_PATH)/config/sign_pem)
export SIGN_PK8=$(shell cat $(BUILDTOOL_PATH)/config/sign_pk8)

PREFIX_CCACHE=$(shell cat $(BUILDTOOL_PATH)/config/ccache)
CROSS_COMPILE=$(TOOLCHAIN)
ifeq ($(PREFIX_CCACHE),1)
	CROSS_COMPILE='ccache $(TOOLCHAIN)'
endif

czmake=$(MAKE) CROSS_COMPILE=$(CROSS_COMPILE)

test:
	@echo $(CROSS_COMPILE)

toolchain:
	$(BUILDTOOL_PATH)/scripts/pick-toolchain

ccache-%:
	echo $* > $(BUILDTOOL_PATH)/config/ccache

.PHONY : build-% cfg-% build

build-%: | cfg-%
	$(BUILDTOOL_PATH)/$(BUILDTOOL_FILE) build
	@echo Done

cfg-%:
	@echo Defconfig: $*;						\
	$(czmake) $*_defconfig;							\
	echo $* > $(BUILDTOOL_PATH)/config/last;				\
	export BUILD_CFG=$*

build:
	@echo Building: $(shell cat $(BUILDTOOL_PATH)/config/last);	\
	sleep 2;								\
	$(czmake) -j$(shell cat $(BUILDTOOL_PATH)/config/concurrency)

build-last:	build-$(shell cat $(BUILDTOOL_PATH)/config/last)

package:
	$(BUILDTOOL_PATH)/scripts/package

menuconfig:
	$(czmake) menuconfig

clean:
	$(czmake) clean
